# Server configuration
PORT=8000
NODE_ENV=development

# Database connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tejasdb"

# Authentication
JWT_SECRET="yoursupersecretkeychangeitinproduction"
